#me {
    float: left;
    margin-right: 15px;
    padding-bottom: 1px;
    margin-left: 10px;
}
.sidebar {
    margin-left: 20px;
    text-align: center;
}

#about_me {
    margin-right: 10px;
}

hr {
    
}